<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
	<%= image_tag @post.photo_path %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atras', posts_path %>
